/* DOCUMENT */

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #181D27;
}


h2 {
    color: white;
    font-size: 3rem;
    text-align: center;
}

h3 {
    top: 0;
    margin: 2rem;
    position: absolute;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
}

/* HEADER */

header {
    width: 100%;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.select-wrapper {
    margin-left: 10px;
    box-sizing: border-box;
}


/* MAIN */

main {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* SELECT MENUS */

select {
    height: 70px;
    border: none;
    background-color: transparent;
    outline: none;
    margin-right: 1rem;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    header {
        background-color: transparent;
    }
    .header-wrapper {
        flex-direction: column;
        box-sizing: border-box;
    }
    .select-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        padding: 10px;
        background-color: lightgrey;
        margin-bottom: 20px;
    }
    select {
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        margin-right: 0
    }
}

/* BUTTON */

button {
    color: white;
    font-weight: bolder;
    height: 50px;
    background-color: #69B578;
    border: none;
    border-radius: 25px;
    padding: 1rem;
    margin: 10px;
    display: flex;
    align-items: center;
}

button:hover {
    background-color: #5fa66e;
    cursor: pointer;
}

/* RECIPE CARD */

.recipe-card {
    margin: 2rem auto;
    position: relative;
    width: 70%;
    min-width: 300px;
    border-radius: 20px;
    background-color: lightgrey;
    overflow: hidden;
}

.recipe-hero {
    background-position:center;
    background-size: cover;
    background-repeat: none;
    width: 100%;
    height: 40%;
    min-height: 200px;
    overflow: hidden;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    height:100%;
    width: 100%;
    background-color: rgb(0 0 0 / 0.4);
}

.recipe-ingredients {
    padding: 2rem;
}


/* INGREDIENTS-STEPS SWITCH */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 0.5);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "Ingredients";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 42px;
    width: 50%;
    left: 4px;
    bottom: 4px;
    color: white;
    background-color: #69B578;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider:before {
    content: "Steps";
    left: calc(50% - 4px);
  }